@page "/counter"

@inherits FluxorComponent
@using BlazorWithFluxor.Features.Counter.Store

@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState

<PageTitle>Counter with Redux</PageTitle>

<h1>Counter with Redux</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount => CounterState.Value.CurrentCount;

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new CounterIncrementAction());
    }
}